.header {
  height: rem(55px);
  margin-bottom: rem(50px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(55px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardscontainer {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	row-gap: 50px;
    align-items: center;
    margin-top: rem(50px);
}